<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars Categories</title>
</head>
<body>
    {% for star in stars %}
        {% if star.published %}
        <article style="background-color: {{ star.color }}">
            <h1>{{ star.title }}</h1>
            <img src="{{ star.image }}">
            <p>{{ star.publishedDate|date("m/d/Y") }}</p>
            <a href= {{ path ('star', {'id': star.id})  }}>click</a>

        </article>
        {% endif %}
    {% endfor %}

// UNE MACHINE, CA MAAAAARCHE !!!!
</body>
</html>